<div class="wrapper">
	<!-- Header / Cabeçalho -->
	<header>
		<h1>Yoko's Kitchen</h1>
			<!-- navbar / barra superior -->
			<nav>
				<ul>
					<li><%= link_to 'home', class: 'current' %></li>
					<li><%= link_to 'classes' %></li>
					<li><%= link_to 'catering' %></a></li>
					<li><%= link_to 'about' %></li>
					<li><%= link_to 'contact' %></li>
				</ul>
			</nav>
		</header>
		<section class="courses">
			<article>
				<figure>
					<%= image_tag('bok-choi.jpg', alt: 'bok-choi') %>
					<figcaption>Bok Choi</figcaption>
				</figure>
				<hgroup>
					<h2>Japanese Vegetarian</h2>
					<h3>Five weeks course in london</h3>
				</hgroup>
				<p>A five week introduction to traditional
					 Japanese vegetarian meals, teaching you a
					 selection of rice and noodle dishes.</p>
			</article>
			<article>
				<figure>
					<%= image_tag('teriyaki.jpg', alt: 'teriyaki') %>
					<figcaption>Teriyaki Sauce</figcaption>
				</figure>
				<hgroup>
					<h2>Sauces Masterclass</h2>
					<h3>One day workshop</h3>
				</hgroup>
				<p>An intensive one-day course looking at how to
				 create the most delicious sauces for use in a
				 range of Japanese cookery.</p>
			</article>
		</section>
		<aside>
			<section class="popular-recipes">
				<h2>Popular recipes</h2>
				<%= link_to 'Yakitori (grilled chicken)' %>
				<%= link_to 'Tsukune (minced chicken patties)' %>
				<%= link_to 'Okonomiyaki (savory pancakes)' %>
				<%= link_to 'Mizutaki (chicken stew)' %>
			</section>
			<section class="contact-details">
				<h2>Contact</h2>
				<p>Yoko's Kitchen<br>
					 27 Redchurch Street<br >
					 Shoreditch<br >
					 London E2 7DP</p>
			</section>
		</aside>
		<!-- footer / rodapé -->
		<footer>
			Copyright (c) 2017 Copyright Holder All Rights Reserved.
		</footer>
</div>
